<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pfay_Contacts::menu" title="Pierre FAY Contacts" translate="Pierre FAY Contacts" module="Pfay_Contacts" sortOrder="10" dependsOnModule="Pfay_Contacts" resource="Pfay_Contacts::menu"/>
        <add id="Pfay_Contacts::index" title="List Contacts" translate="Pierre FAY Contacts" module="Pfay_Contacts" sortOrder="10" parent="Pfay_Contacts::menu" action="contacts/test/index" resource="Pfay_Contacts::index"/>
    </menu>
</config>
